body {
    margin-left: 2%;
    margin-top: 1%;
    margin-right: 2%;
}
h1, .remove-newline { 
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
}
.d-table {
  display:table;
}

.d-table-cell {
  display:table-cell;
}

.w-100 {
  width: 100%;
}

.tar {
  text-align: right;
}


.saves {
  width: 100%;
  /* yay saves wrap to fit! */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.save {
  width: 20vw;
  height: 20vw;
  background: #00ff11;
  overflow: hidden;
  border-radius: 1.5vw;
  margin-right: 2vw;
  margin-bottom: 10px;
  float: left;
}

.save img {
  width: 100%;
  height: calc((9/16)*100%)
}

.save span {
  font-size: 2vw;
  text-align: center;
  width: 100%;
  display: block;
  color: #fff !important;
}