<html>
    <head>
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
   <body>
       <h1>Upload Project</h1>
       {% if username is defined %}
      <form action = "/uploader" method = "POST" 
         enctype = "multipart/form-data">
          <input type="text" name="filename"
               placeholder="name/title"
               value="{{ request.form['filename'] }}"></input>
        <br>
         <input type="text" name="desc"
               placeholder="description"
               value="{{ request.form['desc'] }}"></input>
        <br>
          <input type="text" name="notes"
               placeholder="notes"
               value="{{ request.form['notes'] }}"></input>
        <br>
          <p>thumbnail:</p>
          <input type = "file" name = "thumb" accept = "image/*"/>
          <p>file:</p>
          <input type = "file" name = "file" accept = ".sb3"/>
         <input type = "submit"/>
      </form>
       {% else %}
       <p>You are not logged in. Log in to upload projects.</p>
       {% endif %}
   </body>
</html>